{% extends 'base.html.twig' %}

{% block body %}

	
{% for room in rooms %}	
	<h2 class="page-header">{{room.name}} - room #{{room.id}} </h2>
	<table class="table table-striped"> 
	<thead> 
	<tr> 
	<th>#id</th> 
	<th>Machine Name</th>
	<th>Machine IP</th> 
	<th>Creator</th> 
	<th>Creation date</th> 
	<th>Room</th>



	<th></th>
	</tr> 
	</thead> 
	
	 <tbody> 

	 {% for machine in machines %}

	 <tr> 
	 <th scope="row">{{machine.id}}</th> 
	 <td>{{machine.name}}</td> 
	 <td>{{machine.ip}}</td> 
	 <td>{{machine.user}}</td> 
	 <td>{{machine.creationdate | date('F j, Y, g:i a')}}</td> 
	 <td>{{machine.room}}</td> 
	 <td>
	 <a href="/projetsymfo/web/app_dev.php/projet/details/{{machine.id}}" class="btn btn-success">View</a>
	 <a href="/projetsymfo/web/app_dev.php/projet/edit/{{machine.id}}" class="btn btn-default">Edit</a>
	 <a href="/projetsymfo/web/app_dev.php/projet/delete/{{machine.id}}" class="btn btn-danger">Delete</a>  
	 </td>
	 </tr>  
	 {% endfor %}
	 </tbody> 
	 </table>
{% endfor %} 
{% endblock %}